<div class='row'>
  <div class='col-md-5'>
    <pm-product-list [errorMessage]="errorMessage$ | async"
                     [displayCode]="displayCode$ | async"
                     [products]="products$ | async"
                     [selectedProduct]="selectedProduct$ | async"
                     (displayCodeChanged)="checkChanged()"
                     (initializeNewProduct)="newProduct()"
                     (productWasSelected)="productSelected($any($event))">
    </pm-product-list>
  </div>
  <div class='col-md-7'>
    <pm-product-edit [errorMessage]="errorMessage$ | async"
                     [product]="selectedProduct$ | async"
                     (currentProductWasCleared)="currentProductCleared()"
                     (productWasSaved)="productSaved($any($event))"
                     (productWasUpdated)="productUpdated($any($event))"
                     (productWasDeleted)="productDeleted($any($event))">
    </pm-product-edit>
  </div>
</div>